<h1>Welcome to rock, paper, scissors!</h1>

<h2>Each player chooses either rock, paper or scissors.</h2>

<h3>If the same item is formed, it's a tie. If a rock and scissors are formed, the rock wins, because a rock can smash scissors. If scissors and paper are formed, the scissors win, because scissors can cut paper. If paper and a rock are formed, the paper wins, because a sheet of paper can cover a rock.</h3>